# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Environment
.env

# Node
node_modules/
dist/
build/
.vite/

# IDE
.vscode/
.idea/

# Database
chroma_db/

# OS
.DS_Store
Thumbs.db